<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>register users</title>
</head>
<body>
    <h5>add new users</h5>

    <form action="/adduser" method="post">
    Name : <input type="text" name="name" required><br>
    Gender : <input type="text" name="gender" required><br>
    Username : <input type="text" name="username" required><br>
    Password : <input type="text" name="password" required><br>
    Contact : <input type="text" name="contact" required><br>
    boss : <input type="checkbox" name="boss" value= "true">true
    <input type="checkbox" name="boss" value= "false" > false <br>
    <input type="submit" value="add">
    </form>

</body>
</html>