<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BOSS DASHBOARD</title>
</head>
<body>
    <h4>WELCOME TO THE DASHBOARD <%= user.name %></h4><br><hr>
    <a href="/adduser">add emoployee</a> <hr>
    <a href="/changeprofile">change profile information</a>
    <a href="/boss/givetask">ASSIGN USER A TASK</a><br>
    <a href="/boss/editprofile">EDIT YOUR PROFILE INFORMATION</a><br>
    <a href="/logout">logout</a><br>
    <a href="/seeemployees">see employees task history</a>

    
</body>
</html>