<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CHANGE PROFILE INFORMATION</title>
</head>
<body>
    <%- include('./profileimage', {employee: loggeduser}); %>

        <h3>CHANGE PROFILE INFORMATION</h3><hr>
        <a href="/changepassword">change password</a>


</body>
</html>