<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CHANGE YOUR PASSWORD</title>
</head>
<body>
    
    <h3>CHANGE YOUR ACCOUNT PASSWORD</h3><hr>
    <form action="/changepassword" method="post">
       old username <input type="text" name="oldusername" required>
       old password : <input type="password" name="oldpassword" required>
       <hr>
       new username : <input type="text" name="newusername">
       new passowrd : <input type="password" name="newpassword"><hr>
       
       <button type="submit"> change username and password </button>
    </form>

</body>
</html>