<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>confirm task completion</title>
</head>
<body>
    <h2>CONFIRM TASK COMPLETION</h2>
    <form action="/taskcompleted" method="post">
        description :  <input type="text" name="description">
        material : <input type="text" name="material">
        <input type="submit" value="submit">
    </form>
</body>
</html>